name: Publish Github Package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm set "//npm.pkg.github.com/:_authToken" ${{secrets.NPM_PAT}}

      - run: npm publish --@jmcmahon1999/registry=https://npm.pkg.github.com/ --tag latest
        if: ${{ !env.ACT }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - run: npm publish --@jmcmahon1999/registry=https://npm.pkg.github.com/ --tag latest --dry-run
        if: ${{ env.ACT }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
